---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Command and Conquer">
	<main>
		<h1><span class="text-gradient">Generals</span></h1>
		<h2><span class ="text-gradient"> Zero Hour</span></h2>
		<h3><a class ="text-gradient" href="https://www.youtube.com/">xxx</a></h3>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1, h2 {
		font-size: 15rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
</style>
